<div class="container mt-4 mb-4" style="width: 500px;">
    <h2>Productos</h2>
    <table id="table" class="table table-success table-striped">
        <thead class="table-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Thumbnail</th>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
    <br>
</div>
